
<section class="indicador-header">
    <h2 class="indicador-header__titlea  " >Indicadores</h2>
</section>


<mat-progress-bar mode="indeterminate" *ngIf="state.isLoading | async"></mat-progress-bar>

<ul class="list"  *ngIf="state.indicadores | async   as indicadores">
    <li class="indicador" *ngFor="let indicador of indicadores  ">
        <div>
            <a [routerLink]="['history',indicador.codigo]" class="indicador-card__title">{{indicador.codigo}}</a>
            <p class="indicador-card__nombre">{{indicador.unidad_medida}}</p>
        </div>
        <a [routerLink]="['tipo',indicador.codigo]"><span class="bi bi-info-circle-fill"></span></a>

    </li>
</ul>


