

<app-indicadores-header  [title]="indicador?.codigo" [medida]="indicador?.unidad_medida"></app-indicadores-header>

<div class="list">
    <ul *ngIf="indicador?.history;">
        <li *ngFor="let i of indicador.history" class="history__event">
            <span>
                {{i.fecha | date : 'shortDate'}} 
            </span>
            <span>
                {{i.valor | number }}
            </span>
        </li>
    </ul>
    <mat-progress-bar mode="buffer" *ngIf="ui.isLoading | async"></mat-progress-bar>

</div>



