@import "~bootstrap-icons/font/bootstrap-icons.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body { height: 100%; }

body{
    margin: 0 auto;
    max-width: 500px;
    min-height: 100vh;
    background-color: rgba($color: #000000, $alpha: 0.1);
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

ul{
    list-style: none;
    padding: 0;
}
li{
    padding: 1rem;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
}


.indicador{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.indicadores-header{
    // background-color: lightcoral;
    display: flex;
    flex-direction: column;
    // align-items: center;
    padding: 1rem;
    // min-height: 5vh;
    box-shadow: 0px 0px 3px rgba($color: #000000, $alpha: 0.1);
    
}
.indicadores-header__medida{
    font-size: .8rem;
    margin: 0;
}
.indicador-card{
    padding: 1rem;
}
.indicador-card__title{
    text-transform: uppercase;

}
.indicador-card__valor{
    // padding: 1rem 0;
    font-size: 3rem;
    margin: 0;

}
.indicador-card__nombre{
    font-size: .8rem;
}
.indicador-card__medida{
    font-size: .7rem;
    font-weight: bold;
}
.indicador-card__fecha{
    font-size: .6rem;
}


.indicador-header{
    padding: 1rem;
    height: 100px;

}
.indicador-header__codigo{
    text-transform: uppercase;
    font-size: 1rem;
}
.indicador-header__nombre{
    font-size: .8rem;
}

.list{
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 85vh;
    box-shadow: inset 0px 0px 2px rgba($color: #000000, $alpha: 0.1);

    // padding: 1rem;
}

.history__event{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
