.indicador{
    padding: 1rem;
}
.indicador__valor{
    padding: 1rem 0;
    font-size: 3rem;

}
.indicador__nombre{
    font-size: .8rem;
}
.indicador__medida{
    font-size: .6rem;
    font-weight: bold;
}
.indicador__fecha{
    font-size: .6rem;
}